

mat-toolbar {
  background-color: #e2e5ec;
}

.action-button{
  float: right;
  cursor: pointer;
  padding-bottom: 0;
  line-height: 2rem;
  margin-left: 3rem;
  width: 7rem;
  border-radius: 0.3rem;
  background-color: white;
  font-size: 1rem;
  border: 1.8px solid #d1d4d6;
}